<div class="all"><br>
    <div class="d-flex mb-3">
        <div class="p-2  flex-grow-1"> <input class="form-control" type="text"
                placeholder="Search for a restaurant,city" name="search" [(ngModel)]="search"
                (ngModelChange)="search()"></div>
        <div class="p-2 "> <button (click)="sort('name')" type="" class="btn btn-outline-primary">
                <svg width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                    <path
                        d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z" />
                </svg>Sort by rating </button>
        </div>
    </div>


<div class="card" *ngFor="let restaurant of food  | search: search | orderBy: key: reverse ;let i=index">
    <div class="image ">
        <img src="{{restaurant.image_url}}">
    </div>

    <div class="name">
        <b>{{restaurant.name}}</b>
    </div><hr>

    <div class="add">
       <b> Address:</b>{{restaurant.address}}
    </div><hr>

    <div class="rating">
         <b>Rating:</b> <span [ngClass]="{restaurants:restaurant.rating >=4}">{{restaurant.rating}}   <div class="fa fa-star checked"></div></span>
    </div>
</div></div>
